{# SPDX-License-Identifier: MIT-0 #}
{# OpenShift install load balancer (user-provided layout). #}
{% set _cluster_domain = openshift_libvirt_cluster_name ~ '.' ~ openshift_libvirt_base_domain %}
global
  log         127.0.0.1 local2
  pidfile     /var/run/haproxy.pid
  maxconn     4000
  daemon
defaults
  mode                    http
  log                     global
  option                  dontlognull
  option http-server-close
  option                  redispatch
  retries                 3
  timeout http-request    10s
  timeout queue           1m
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  timeout http-keep-alive 10s
  timeout check           10s
  maxconn                 3000
listen api-server-6443
  bind *:6443
  mode tcp
  option  httpchk GET /readyz HTTP/1.0
  option  log-health-checks
  balance roundrobin
  server bootstrap bootstrap.{{ _cluster_domain }}:6443 verify none check check-ssl inter 10s fall 2 rise 3 backup
{% for i in range(openshift_libvirt_master_nodes | int) %}
  server master-{{ i }} master-{{ i }}.{{ _cluster_domain }}:6443 weight 1 verify none check check-ssl inter 10s fall 2 rise 3
{% endfor %}
listen machine-config-server-22623
  bind *:22623
  mode tcp
  server bootstrap bootstrap.{{ _cluster_domain }}:22623 check inter 1s backup
{% for i in range(openshift_libvirt_master_nodes | int) %}
  server master-{{ i }} master-{{ i }}.{{ _cluster_domain }}:22623 check inter 1s
{% endfor %}
listen ingress-router-443
  bind *:443
  mode tcp
  balance source
{% for i in range(openshift_libvirt_worker_nodes | int) %}
  server compute-{{ i }} compute-{{ i }}.{{ _cluster_domain }}:443 check inter 1s
{% endfor %}
listen ingress-router-80
  bind *:80
  mode tcp
  balance source
{% for i in range(openshift_libvirt_worker_nodes | int) %}
  server compute-{{ i }} compute-{{ i }}.{{ _cluster_domain }}:80 check inter 1s
{% endfor %}
